.card-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  @media (min-width: 768px) {
    flex-direction: row;
    max-height: 500px;
  }
}
.card-cover {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  border: 2px solid #48f9ce;
  border-radius: 20px;
  cursor: pointer;

  //HOVER
  &:hover {
    .category-title {
      color: #c8fff2;
    }
  }

  //GRADIENT
  background: rgb(73, 255, 211);
  background: -moz-linear-gradient(
    0deg,
    rgba(73, 255, 211, 1) 0%,
    rgba(51, 67, 70, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(73, 255, 211, 1) 0%,
    rgba(51, 67, 70, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(73, 255, 211, 1) 0%,
    rgba(51, 67, 70, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49ffd3",endColorstr="#334346",GradientType=1);
  @media (min-width: 768px) {
    min-width: 250px;
    margin: 25px 0px;
  }
  .category-title {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    // TODO Incluir en styles genéricos
    color: #424242;
    transition: 0.5s;
  }
}

//SWIPER
swiper {
  .swiper-wrapper {
    padding: 25px 0px;
    margin-top: 5px;
    @media (min-width: 768px) {
      margin-top: initial;
      margin-left: 5px;
    }
    .swiper-slide {
      @media (min-width: 768px) {
        min-width: 300px;
        max-width: 300px;
      }
    }
  }
  .swiper-pagination {
    bottom: 0;
    @media (min-width: 768px) {
      text-align: left;
      left: 10rem;
    }
  }
}
