.card-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  padding: 0 40px;
  justify-content: center;
}
.resource-card {
  border-radius: 10px;
}
