.example-card {
  max-width: 400px;
  border-radius: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
