.sidenav-container {
  flex: 1;
}
mat-sidenav {
  width: 200px;
}
.main-nav-link {
  text-transform: uppercase;
  // TODO Incluir en styles genéricos
  color: #303030;
}
mat-sidenav-content {
  overflow: hidden;
}
