$height-toolbar: 65px;
mat-toolbar {
  height: $height-toolbar;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}
.sidenav-container {
  flex: 1;
  min-height: 100%;
  margin-top: $height-toolbar;
  padding-bottom: $height-toolbar;
}
mat-sidenav {
  width: 200px;
}
.main-nav-link {
  text-transform: uppercase;
  // TODO Incluir en styles genéricos
  color: #303030;
}
mat-sidenav-content {
  overflow: hidden;
}

.github {
  width: 100%;
  display: flex;
  justify-content: end;
}
