<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/" mat-button class="main-nav-link">Recursos, recursos, recursos</a>
  <a href="https://github.com/Navis-code/recursos-recursos-recursos" class="github">
    <img src="/assets/icons/github.png" alt="github icon">
  </a>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav role="navigation">
    <app-navbar-menu></app-navbar-menu>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
