// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.sidenav-container {
  flex: 1;
}
mat-sidenav {
  width: 200px;
}
.main-nav-link {
  text-transform: uppercase;
  // TODO Incluir en styles genéricos
  color: #303030;
}
