<mat-card class="resource-card">
  <div class="image-card-container">
    <img mat-card-image src="{{imgPath + resource.name}}.png" alt="Photo of a Shiba Inu">
  </div>
  <div>
    <mat-card-title>{{resource.name}}</mat-card-title>
    <mat-card-subtitle>{{resource.categoryName}}</mat-card-subtitle>
  </div>
  <mat-card-content>
    <p class="card-content">
      {{resource.description}}
    </p>
  </mat-card-content>
  <div>
    <a mat-raised-button color="primary" href="{{resource.url}}" target="_blank">Ir al recurso</a>
  </div>
</mat-card>
