.resource-card {
  border: 2px solid #1de9b6;
  border-radius: 10px;
  transition: 0.2s;
  // HOVER
  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0rem 9px 2rem 4px #151515;
  }

  .image-card-container {
    border-radius: 10px;
    margin: -16px -16px 16px -16px;
    height: 200px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
  mat-card-title,
  .card-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 10px;
  }
}
