<mat-card class="resource-card">
  <div class="image-card-container">
    <img mat-card-image src="/assets/screenshots/{{resource.name}}.webp" alt="Photo of resource {{resource.name}}"
      (error)="onImgError($event)">
  </div>
  <div>
    <mat-card-title>{{resource.name}}</mat-card-title>
    <mat-card-subtitle>{{resource.categoryName}}</mat-card-subtitle>
  </div>
  <mat-card-content>
    <p class="card-content">
      {{resource.description}}
    </p>
  </mat-card-content>
  <div>
    <a mat-raised-button color="primary" href="{{resource.url}}" target="_blank" rel="noopener">Ir al recurso</a>
  </div>
</mat-card>
