@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@include mat.core();
/* ======== Angular material custom themes ======== */
$my-custom-primary: mat.define-palette(mat.$teal-palette, A400);
$my-custom-accent: mat.define-palette(mat.$pink-palette, 100, 500, A100);
$my-custom-warn: mat.define-palette(mat.$lime-palette);

$my-custom-theme: mat.define-dark-theme(
  $my-custom-primary,
  $my-custom-accent,
  $my-custom-warn
);

@include mat.all-component-themes($my-custom-theme);
