@import "~@angular/material/theming";
@include mat-core();
/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-teal, A400);
$my-custom-accent: mat-palette($mat-pink, 100, 500, A100);
$my-custom-warn: mat-palette($mat-lime);

$my-custom-theme: mat-dark-theme(
  $my-custom-primary,
  $my-custom-accent,
  $my-custom-warn
);

@include angular-material-theme($my-custom-theme);
